// GLOBAL

html {
	height: 100%;
}

html, body {
	background: #000 url('../images/background.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	cursor: default;
	font-family: $font;
	font-size: 13px;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-transform: uppercase;
	.tcenter { text-align: center; }
}

a {
	color: #fff;
	text-decoration: none;
}

// MAIN CONTAINER (WHICH CONTAINS BACKGROUND)

.main-container {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAFzUkdCAK7OHOkAAAAEZ0FNQQAAsY8L/GEFAAAACXBIWXMAAAsRAAALEQF/ZF+RAAAAHnRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1LjGrH0jrAAAAFHRFWHRDcmVhdGlvbiBUaW1lADgvMi8xMmcRu9gAAACvSURBVGhD7dlJDoAwDENRTsP9b1jEKECCBUNJ0ENiwy6kzrfTphmfdvem/JaqiFLK0U/edCNlJ6bTtBSSuYj+VA2FZC9iroHYqw8KYk/EGGIPN+2qC/bOuCd2Yq/vqH9hTxavtRZ8aN9F7MRO7NcjBbIH27zI7PORjMIdZP+kE8iO7MiO7Lbx0cKYBZ0FnQXd+YUUG8/Gv3VvKbPL7Ftn/FRAQ3ZkR3Zkr5+7L+uuAzMfRtLHlTaWAAAAAElFTkSuQmCC);
	display: block;
	height: 100%;
	position: relative;
	&.in-game { margin-top: 30px; }
}

// MAIN WINDOW (FOR CONTENT)

.modal-window {
	left: 50%;
	margin: 50px auto;
	position: absolute;
	top: 50%;
	h1 {
		left: -3px;
		position: absolute;
		top: -45px;
	}
	div#tab-bar {
		position: absolute;
		right: 0;
		top: -25px;
		ul {
			li {
				color: $lightBlue;
				cursor: pointer;
				float: left;
				font-size: 17px;
				font-weight: 200;
				margin-left: 20px;
				opacity: 0.4;
				@include transition(300ms);
				&.selected { opacity: 1; }
				&:hover { opacity: 0.7; }
			}
		}
	}
	.content {
		background-color: rgba(0, 0, 0, 0.5);
		border: 2px solid rgba(210, 230, 255, 0.3);
		border-radius: 0 15px 0 0;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
		height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		section {
			display: none;
			line-height: 1.3em;
			padding: 14px;
			&:first-child {
				display: block;  // Automatically show first SECTION
			}
		}
	}
}

// HEADERS

h1 {
	font-weight: 200;
	font-size: 40px;
	text-transform: uppercase;
	color: rgba(240, 255, 255, 0.8);
	background-image: -webkit-gradient(
		linear, 50% 0%, 50% 100%,
		color-stop(0.2, #def),
		color-stop(0.6,rgba(210, 230, 255, 0.5)),
		color-stop(1, rgba(210, 230, 255, 0.1))
	);
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}
h2 {
	color: rgba(210, 230, 250, 0.9);
	display: block;
	font-size: 23px;
	font-weight: normal;
	padding: 25px 0 15px 0;
	&:first-child { padding-top: 0; }
}

// DATA FORMATTING

section {
	.data-item {
		font-size: 22px;
		line-height: 23px;
		margin-bottom: 4px;
		color: #fff;
		text-transform: uppercase;
	}
	.data-label {
		font-size: 11px;
		line-height: 15px;
		color: #6c96cc;
		font-family: $font;
		text-transform: uppercase;
	}
}
